.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(36, 100%, 99%);
    padding: 0 10px;
    font-family: 'Inter', sans-serif;
}

h1{
    margin: 0;
}

p{
    font-size: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width: 35px;
}

.menu {
    width: 28px;
}

.menu-button {
    border: none;
    background-color: hsl(36, 100%, 99%);
}

.main-card__image {
    width: 100%;
}

.main-card__title{
    font-weight: 800;
    font-size: 2.5rem;
}

.main-card__description {
    color: hsl(236, 13%, 42%)
}

.main-card__button {
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    border: none;
    width: 55%;
    height: 39px;
    padding: 10px;
    letter-spacing: 2px;
}

.new-card {
    background-color: hsl(240, 100%, 5%);
    padding: 19px;
    margin: 50px 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.new:nth-child(-n+3)::after{
    display: inline-block;
    content: '';
    border-top: solid 1px white;
    width: 96%;
}
.new-title {
    color: hsl(35, 77%, 62%);
}

.new-article__title{
    color: hsl(36, 100%, 99%);
    margin-bottom: 0;
}

.new-article__description{
    color: hsl(233, 8%, 79%);
    margin-top: 5px;
    line-height: 1.7;
}