.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(36, 100%, 99%);
    padding: 0 18px;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h1{
    margin: 0;
}

p{
    font-size: 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: 40px;
}

.logo {
    height: 20px;
}

.menu {
    border: none;
    background-color: hsl(36, 100%, 99%);
}

.open-menu__image {
    height: 15px;
}

 .sidenav {
    height: 100vh;
    width: 0;
    background-color: hsl(36, 100%, 99%);
    z-index: 2;
    
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    transition: width 0.75s;
} 

#close_button {
    align-self: self-end;
}

.sidenav__open {
    width: 69vw;
    transition: width 0.75s;
}

.sidenav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 46vh;
}

.nav-items{
    list-style-type: none;
    padding: 0;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
}

.nav-item{
    color: hsl(240, 100%, 5%);
}

.fade-effect {
    display: none;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: hsl(0deg 0% 3% / 56%);
}

.main-card__image {
    width: 100%;
}

.main-card__title{
    font-weight: 800;
    font-size: 2.5rem;
}

.main-card__description {
    color: hsl(236, 13%, 42%)
}

.main-card__button {
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    border: none;
    width: 55%;
    height: 39px;
    padding: 10px;
    letter-spacing: 2px;
}

.new-card {
    background-color: hsl(240, 100%, 5%);
    padding: 19px;
    margin: 50px 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.new:nth-child(-n+3)::after{
    display: inline-block;
    content: '';
    border-top: solid 1px white;
    width: 96%;
}
.new-title {
    color: hsl(35, 77%, 62%);
}

.new-article__title{
    color: hsl(36, 100%, 99%);
    margin-bottom: 0;
}

.new-article__description{
    color: hsl(233, 8%, 79%);
    margin-top: 5px;
    line-height: 1.7;
}

.topic{
    display: flex;
    height: 120px;
    padding: 15px 0;
}

.topic-info{
    padding-left: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.topic-index {
    color: hsl(233, 8%, 79%);
}

.topic-image {
    height: 100%;
}

.topic-title {
    margin: 0;
}

.topic-description{
    margin: 0;
    color: hsl(236, 13%, 42%);
    line-height: 1.5;
}